.head {
    position: fixed;
    width: 1000px;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoWrapper {
  font-size: 28px;
}

.headerMenu {
  display: flex;
  flex-direction: row;
}